* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

.hide {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 4vh 30px;
  text-align: center;
}

h1 {
  margin: 0 0 3vh;
  font-weight: 400;
  font-size: 7vw;
}

pre {
  font-size: 13px;
  color: #26A17B;
}

img {
  margin: 0 auto;
}

.tg {
  margin-top: 7vh;
  font-weight: 600;
  font-size: 3vw;
}

.tg > a {
  color: #26A17B;
}



@media (min-width: 1200px) {
  h1 {
    margin: 0 0 48px;
    font-size: 32px;
  }

  .tg {
    margin-top: 48px;
    font-size: 14px;
  }
}
